h1 {
    color: darkGreen;
    font-family: "Georgia", Times, serif;
    text-align: center;
}
h2 {
    font-family: "Georgia", Times, serif;
    text-align: center;
    
}
p{
    line-height: 19px;
}
h4{
    text-transform: capitalize;
}
a:link{text-decoration: none;}
a:hover{ text-decoration: underline}